body{
	background-color:#222222;
	color:white;	
}

.luis-header{
	background-color:#323236;
}

.bg-color2{
	background-color:#323236;
}

.fg-color2{
	color:#F1D5A3;
}

.nav-item a,
.nav-item a:link,
.nav-item a:visited{
	color:white;
	text-decoration:none;
}

.nav-item a:hover{
	text-decoration:underline;
}

.footer a,
.footer a:link,
.footer a:visited{
	color:white;
}

#footer-wrapper{
	background-color:#85C206;
	border-top:1px solid rgba(255, 255, 255, 0.3);
}

.footer-links a{
	color:white;
	border-bottom:1px dotted white;
}

.footer-links a:hover{
	color:blue;
	border-bottom:1px solid blue;
	text-decoration:none;
}


ul{
	display:inline-block;
	list-style-type:none;
}
.footer-links{
	padding:10px;
	font-weight:bold;
	font-size:1.3em;
	font-family: 'Roboto', sans-serif;

}


.modal-header .close{
	color:white;
}

.modal-header{
	border-bottom:2px solid rgba(255, 255, 255, 0.3);
}

#contact-modal .modal-content{
	border-color:rgba(255, 255, 255, 0.3);
	background-color:#202020;
	color:white;
	font-size:1.5em;
	font-family:'Roboto', sans-serif;
}


#contact-modal .modal-content strong{
	color:#85C206;
}

#contact-modal .modal-content p{
	color:white;
}

#contact-modal .modal-content a{
	color:#ccc;
	border-bottom:1px dotted white;
}

#contact-modal .modal-content a:link{
	color:#ccc;
	border-bottom:1px dotted white;
	text-decoration:none;
	outline:none;
}


#contact-modal .modal-content a:hover{
	color:white;
	border-bottom:1px solid white;
	text-decoration:none;
}


#contact-modal .modal-title{
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size:1.5em;
}

#privacy-policy-modal .modal-title{
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size:1.5em;
}
#privacy-policy-modal .modal-content{
	color:white;
	border-color:rgba(255, 255, 255, 0.3);
	background-color:#202020;
	font-size:1.5em;
	font-family:'Roboto', sans-serif;

}

#privacy-policy-modal .modal-content b{
	color:#85C206;
}



#disclaimer-modal .modal-title{
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size:1.5em;
}
#disclaimer-modal .modal-content{
	color:white;
	border-color:rgba(255, 255, 255, 0.3);
	background-color:#202020;
	font-size:1.5em;
	font-family:'Roboto', sans-serif;

}

#disclaimer-modal .modal-content b{
	color:#85C206;
}
