@import url(http://fonts.googleapis.com/css?family=Roboto|Open+Sans|Raleway);

body{
	/*background-image: url(/img/bg.jpg);*/
	background-color:black;
	color:white;
	font-family: 'Open Sans', sans-serif;
}


#header-wrapper{
	border-bottom:1px solid rgba(255,255,255,0.3);
}

#page-title{	
	line-height:80px;
	font-size:3.5em;
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
	color:#85C206;
}

#page-subtitle{
	margin-top:-15px;	
	font-size:1.5em;
	font-family: 'Roboto' , sans-serif;
}

#navbar-wrapper{
	background-color:#85C206;
	border-bottom:1px solid rgba(255,255,255,0.3);
}

.navbar-col{
	font-size:1.4em;
	font-family: 'Open Sans', sans-serif;
}

.navbar-col a{
	font-weight:bold;
	color:white;
}

.navbar-col a:hover{
	color:blue;
	text-decoration:none;
}

.navbar-col a:link{
	outline:none;
	text-decoration:none;
}

#main-quote-row{
	padding-top:30px;
	padding-bottom:30px;
}
#main-quote{
	font-size:3em;
	text-align:center;
	font-family: 'Roboto', sans-serif;
}

#main-description{

}

#description-row{
	padding-bottom:40px;
}


#description-1{
	color:#85C206;
	font-size:1.3em;
	font-weight:bold;
	margin-top:60px;
	margin-bottom:20px;
}

#description-2{
	font-size:1.2em;
}

#services-header-wrapper{
	background-color:#85C206;
	/*background-color:rgba(255,255,255,0.1);*/
	border-top:1px solid rgba(255, 255, 255, 0.3);
	border-bottom:1px solid rgba(255, 255, 255, 0.3);
	margin-bottom:40px;
}

#services-header{
	font-size:3em;
	font-family:'Open Sans', sans-serif;
	font-weight:bold;
	color:black;
}

#services-wrapper{
	margin-bottom:50px;

}

#services-row1{
	border-bottom:1px solid rgba(255,255,255,0.3);
	margin-bottom:30px;
	padding-bottom:10px;
}
.feature{
	/*border:1px solid white;*/
	border-right:1px solid white;
}

.feature-title{
	font-family: 'Open Sans', sans-serif;
	font-size:2em;
	text-align:center;
	font-weight:bold;
	/*color:#9ED034;*/
	color:#85C206;

}


.feature-description{
	font-family: 'Open Sans', sans-serif;
	font-size:1.2em;

	padding-top:10px;
	margin-bottom:15px;
}



#footer-wrapper{
	background-color:#85C206;
	border-top:1px solid rgba(255, 255, 255, 0.3);
}

.footer-links a{
	color:white;
	border-bottom:1px dotted white;
}

.footer-links a:hover{
	color:blue;
	border-bottom:1px solid blue;
	text-decoration:none;
}


#resources-title{
	display:inline-block;
	color:black;
	font-weight:bold;
	font-size:1.5em; 
	font-family:'Open Sans', sans-serif;
}

ul{
	display:inline-block;
	list-style-type:none;
}
.footer-links{
	padding:10px;
	font-weight:bold;
	font-size:1.3em;
	font-family: 'Roboto', sans-serif;

}


.modal-header .close{
	color:white;
}

.modal-header{
	border-bottom:2px solid rgba(255, 255, 255, 0.3);
}

#contact-modal .modal-content{
	border-color:rgba(255, 255, 255, 0.3);
	background-color:#202020;
	color:white;
	font-size:1.5em;
	font-family:'Roboto', sans-serif;
}


#contact-modal .modal-content strong{
	color:#85C206;
}

#contact-modal .modal-content p{
	color:white;
}

#contact-modal .modal-content a{
	color:#ccc;
	border-bottom:1px dotted white;
}

#contact-modal .modal-content a:link{
	color:#ccc;
	border-bottom:1px dotted white;
	text-decoration:none;
	outline:none;
}


#contact-modal .modal-content a:hover{
	color:white;
	border-bottom:1px solid white;
	text-decoration:none;
}


#contact-modal .modal-title{
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size:1.5em;
}

#privacy-policy-modal .modal-title{
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size:1.5em;
}
#privacy-policy-modal .modal-content{
	color:white;
	border-color:rgba(255, 255, 255, 0.3);
	background-color:#202020;
	font-size:1.5em;
	font-family:'Roboto', sans-serif;

}

#privacy-policy-modal .modal-content b{
	color:#85C206;
}



#disclaimer-modal .modal-title{
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size:1.5em;
}
#disclaimer-modal .modal-content{
	color:white;
	border-color:rgba(255, 255, 255, 0.3);
	background-color:#202020;
	font-size:1.5em;
	font-family:'Roboto', sans-serif;

}

#disclaimer-modal .modal-content b{
	color:#85C206;
}
